.song-box {
  -webkit-box-shadow: 4px 4px 24px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 4px 24px -6px rgba(0,0,0,0.75);
  box-shadow: 4px 4px 24px -6px rgba(0,0,0,0.75);
}

.song-rating {
  text-align: center;
  color: #ff8100;
}

.song-rating-star {
  float: left;
  margin-left: 3px;
}

.album-content {
  text-align: -webkit-center;
  color: #949494;
}
